:root {
    --primary-color: #94c93d;
    --primary-color-dark: #07703c;
    --color-opcional-1: #000000;
    --color-opcional-2: #ed1a37;
    --color-opcional-3: #ffffff;
}

/*Inicio de Estilos de la Cabecera*/
.menu
{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-end;
    background-color: var(--color-opcional-1);
    padding: 10px;
    border-bottom: var(--primary-color-dark) solid 7px;
}

nav
{
    flex: 5 1 auto;
}

nav ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

nav ul li
{
    display: inline-block;
}

nav ul li a
{
    color: var(--primary-color);
    display: block;
    text-decoration: none;
    margin-left: 10px;
    padding: 10px;
    font-size: 25px;
}

nav ul li a:hover
{
    background-color: var(--primary-color) ;
    color: var(--color-opcional-3);
    border-radius: 20px;
    border-bottom: 2px solid;
}

.logo
{
    flex: 0 1 auto;
}

.imagen{
    width:150px;
    height:150px;
    border-radius:100px;
}
/*Fin de Estilos de la Cabecera*/
/*Aqui comienzan los estilos del main*/
.flex-container
{
    margin-top: 3px;
    color: var(--primary-color);
    background-color: var(--color-opcional-1);
    border-bottom: 4px solid var(--primary-color);
    display: flex;
    flex-wrap: nowrap; /*nowrap para que cuando se acabe el espacio no se acomoden uno abajo del otro*/
    align-items: center; /*Para alinear los elementos al centro*/ 
    text-align: center;
}

article
{
    display: flex;
    flex: 3;
    justify-content: center;
}

.contenido
{
    margin: 20px;
}

aside
{
    display: flexbox;
    flex: 2;
    justify-content: center;
}

.imagen-contenido, video
{
    width: 85%;
    height: 85%;
    margin: 10px auto;
    padding: 5px;
}

h3
{
    color: var(--color-opcional-3);
}

.formulario
{
    /*Aqui deben ir los estilos del formulario:*/
}




/*------- seccion de registro formulario ------------ */

*{
    box-sizing: border-box;
}

main{
    color: var(--primary-color);
}

#Registro{
    background: var(--color-opcional-1);
}

.form-div{
    width: 40%;
    display: flex;
    justify-content: center;
}

#Registro .container .registro-title{
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    position: relative;
    text-align: center;
}

#Registro .container{
    display: flex;
}

.form-div .registro-form{
    width: 85%;
    background: var(--primary-color-dark);
    border-radius: 20px;

    display: flex;
    justify-content: center;

    margin: 10px auto;
padding: 5px;
}

form .form-control{
    width: 100%;
    padding: 0.375rem 0.7rem;
    padding-top: 0.375rem;
    padding-right: 0.7rem;
    padding-bottom: 0.375rem;
    padding-left: 0.7rem;
}


form{
    width: 90%;
    padding: 0.375rem 0rem;
    color: var(--color-opcional-3);
}

form .form-group{
    padding: 0.375rem 0rem;
    font-weight: 700;
}
form .form-group input{
    border-radius: 10px;
}

form .btn{
    width: 100%;
    opacity: .5;
    padding: 10px;
    margin: 15px 0px;
    border-radius: 10px;
}

/* -------- fin seccion de registro formulario ------*/ 

/*Aqui terminan los estilos del main*/
/*Aqui comienzan los estilos del footer*/
footer
{
    margin-top: 5px;
    padding: 5px;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--color-opcional-1);
    border-bottom: 4px solid var( --primary-color-dark);
    display: flexbox;
}

#ApiClima p
{
    font-size: 14px;
    font-family: 'Lucida Sans', Verdana, sans-serif;
}

.resaltar
{
    color: var(--color-opcional-2);
    font-weight: bold;
}